<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <table>
        <tr th:each="user,iterStat : ${users}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.pass}"></td>
            <td th:text="${iterStat.index}"></td>
        </tr>
    </table>
    <!--
        iterStat 称作状态变量，属性有：
        index：当前迭代对象的 index（从 0 开始计算）
        count：当前迭代对象的 index（从 1 开始计算）
        size：被迭代对象的大小
        current：当前迭代变量
        even/odd：布尔值，当前循环是否是偶数/奇数（从 0 开始计算）
        first：布尔值，当前循环是否是第一个
        last：布尔值，当前循环是否是最后一个
    -->
</body>
</html>